<section class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="text-center mb-4">
            <h2 class="fw-bold">
              Change <span class="text-primary">Password</span>
            </h2>
          </div>
  
          <div *ngIf="errorMessage" class="alert alert-danger text-center">
            {{ errorMessage }}
          </div>
  
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="oldPassword" class="form-label">Old Password</label>
              <div class="input-group">
                <input
                  type="{{ oldPasswordVisible ? 'text' : 'password' }}"
                  id="oldPassword"
                  class="form-control"
                  formControlName="oldPassword"
                  placeholder="Enter your old password"
                  autocomplete="on"
                  [ngClass]="{
                    'is-invalid':
                      f['oldPassword'].invalid && f['oldPassword'].touched
                  }"
                />
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="toggleOldPasswordVisibility()"
                >
                  <i
                    class="fas"
                    [ngClass]="oldPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"
                  ></i>
                </button>
                <div
                  class="invalid-feedback"
                  *ngIf="f['oldPassword'].touched && f['oldPassword'].errors?.['required']"
                >
                  Password is required.
                </div>
              </div>
            </div>
  
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password</label>
              <div class="input-group">
                <input
                  type="{{ passwordVisible ? 'text' : 'password' }}"
                  id="newPassword"
                  class="form-control"
                  formControlName="newPassword"
                  placeholder="Enter your new password"
                  autocomplete="on"
                  [ngClass]="{
                    'is-invalid':
                      f['newPassword'].invalid && f['newPassword'].touched
                  }"
                />
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    class="fas"
                    [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"
                  ></i>
                </button>
                <div class="invalid-feedback" *ngIf="f['newPassword'].touched">
                  <div *ngIf="f['newPassword'].errors?.['required']">
                    Password is required.
                  </div>
                  <div *ngIf="f['newPassword'].errors?.['minlength']">
                    Password must be at least 8 characters long.
                  </div>
                  <div *ngIf="f['newPassword'].errors?.['passwordStrength']">
                    Password must contain at least one lowercase, one uppercase,
                    one digit, and one special character.
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mb-4">
              <label for="confirmPassword" class="form-label"
                >Confirm Password</label
              >
              <div class="input-group">
                <input
                  type="{{ confirmPasswordVisible ? 'text' : 'password' }}"
                  id="confirmPassword"
                  class="form-control"
                  formControlName="confirmPassword"
                  placeholder="Enter confirm password"
                  autocomplete="on"
                  [ngClass]="{
                    'is-invalid':
                      (f['confirmPassword'].touched &&
                        f['confirmPassword'].invalid) ||
                      (changePasswordForm.hasError('passwordMismatch') &&
                        f['confirmPassword'].touched)
                  }"
                />
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="toggleConfirmPasswordVisibility()"
                >
                  <i
                    class="fas"
                    [ngClass]="confirmPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"
                  ></i>
                </button>
                <div
                  class="invalid-feedback"
                  *ngIf="f['confirmPassword'].touched"
                >
                  <div *ngIf="f['confirmPassword'].errors?.['required']">
                    Confirm Password is required.
                  </div>
                  <div *ngIf="changePasswordForm.hasError('passwordMismatch')">
                    Passwords don't match.
                  </div>
                </div>
              </div>
            </div>
  
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                <span *ngIf="isLoading">
                  <i class="fas fa-spinner fa-spin"></i>
                </span>
                <span *ngIf="!isLoading">Confirm</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
