

 <!-- Login -->
  <section class="section-login bg-light padding-tb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title bb-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="section-detail">
                        <h2 class="bb-title">Log <span>In</span></h2>
                        <p>Sign in to book your favorite events with ease </p>
                    </div>
                </div>
            </div>
           
            <div class="col-12">
                <div class="bb-login-contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                  <div *ngIf="errorMessage" class="alert alert-danger text-center">
                    {{ errorMessage }}
                  </div>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3 bb-login-wrap">
                      <label for="emailOrUserName" class="form-label">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        id="emailOrUserName"
                        name="emailOrUserName"
                        formControlName="emailOrUserName"
                        placeholder="Enter your email"
                        autocomplete="on"
                        [ngClass]="{
                          'is-invalid':
                            f['emailOrUserName'].invalid && f['emailOrUserName'].touched
                        }"
                      />
                      <div class="invalid-feedback" *ngIf="f['emailOrUserName'].touched">
                        <div *ngIf="f['emailOrUserName'].errors?.['required']">
                          Email is required.
                        </div>
                        <div *ngIf="f['emailOrUserName'].errors?.['email']">
                          Please enter a valid email address.
                        </div>
                      </div>
                    </div>
          
                    <div class="mb-3 bb-login-wrap">
                      <label for="password" class="form-label">Password</label>
                      <div class="input-group">
                        <input
                          id="password"
                          type="{{ passwordVisible ? 'text' : 'password' }}"
                          class="form-control"
                          formControlName="password"
                          placeholder="Enter your password"
                          autocomplete="on"
                          [ngClass]="{
                            'is-invalid': f['password'].invalid && f['password'].touched
                          }"
                        />
                        <button
                          type="button"
                          class="btn btn-outline-secondary"
                          (click)="togglePasswordVisibility()"
                        >
                          <i
                            class="fas"
                            [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"
                          ></i>
                        </button>
                        <div class="invalid-feedback" *ngIf="f['password'].touched">
                          <div *ngIf="f['password'].errors?.['required']">
                            Password is required.
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="mb-3 text-end bb-login-wrap">
                      <a routerLink="/sendpin" class=" text-decoration-none" style="color: #6c7fd8;">
                        Forgot Password?
                      </a>
                    </div>
          
                    <div class="d-grid mb-3">
                      <button type="submit" class="bb-btn-2">
                        <span *ngIf="isLoading">
                          <i class="fas fa-spinner fa-spin"></i>
                        </span>
                        <span *ngIf="!isLoading" >Login</span>
                      </button>
                    </div>
          
                    <div class="text-center ">
                      <a routerLink="/register" style="color: #6c7fd8;" class=" text-decoration-none">Register</a>
                    </div>
                  </form>  
              
                </div>
            </div>
        </div>
    </div>
  </section>

  
  
  